body{
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.layer-1 {
    background-color: #1F2937;
    width: auto;
    height: auto;
}
.subheader-1 {
    padding: 5vh;
    display: flex;
    justify-content: space-between;
}
.subheader-2 {
    display: flex;
    font-size: 1vw;
}
.insidehead{
    width: 30vw;
    height: 18vh;
    margin: 7vw;
    font-size: 1.2em;
    color: #F9FAF8;
   
}
.insidehead-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 25vh;
    background-color: grey;
    font-size: 1.2em;
    margin: 7vw;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: white;
}
.Logo {
    margin-left: 2vw;
    color: #F9FAF8;
}
.links {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin-right: 1.5vw;
}
button {
    border-radius: 0.5vw;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    font-size: 1rem;
    margin: 0.5vw;
    margin-left: 0;
    padding: 0.7vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
h1{
    color: #F9FAF8;
}
.layer-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    font-size:x-large;
    display: flex;
    gap: 3vw;
    justify-content: space-around;
}
.card {
    width: 15vw;
    height: 21vh;
    border: 4px solid #3882F6;
    border-radius: 10%;
}
.container {
    padding: 2vw;
    font-weight: bolder;
    font-size: xx-large;
}
.text{
    display: flex;
    justify-content: center;
    font-size:large;
    font-weight: normal;
    width: 10vw;
    /*padding-bottom: 30px;*/
}
.layer-3{
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.layer-3-inside-1 {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 700px;
}
.layer-3-inside-2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: x-large;

}
.layer-4 {
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.card-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
    width: 1000px;
    height: 150px;
    border-radius: 10px;

}
h2,h3 {
    padding: 0%;
    margin: 0%;
}
h3 {
    font-size: small;
}
.button-2 {
    border: 3px solid white;
    border-radius: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    height: 100px;
}